# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Arquivos temporários diversos
*.tmp
*.temp
*.bak
*.orig
*.rej

# Cobertura de testes
coverage/

# iOS específicos (apenas se não estiver controlando Pods)
ios/Runner.xcworkspace/
ios/Pods/
ios/Flutter/Generated.xcconfig

# Melos monorepo
.melos_tool/

# Web (opcional, caso personalize)
web/manifest.json
web/favicon.png
